In [3]:
!mkdir data
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet
!mv yellow_tripdata_2023-0*.parquet ./data/

--2023-05-24 08:14:25--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 143.204.130.167, 143.204.130.80, 143.204.130.121, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|143.204.130.167|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 47673370 (45M) [application/x-www-form-urlencoded]
Saving to: ‘yellow_tripdata_2023-01.parquet’

yellow_tripdata_202 100%[===================>]  45.46M  16.0MB/s    in 2.8s

2023-05-24 08:14:29 (16.0 MB/s) - ‘yellow_tripdata_2023-01.parquet’ saved [47673370/47673370]

--2023-05-24 08:14:29--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 143.204.130.167, 143.204.130.80, 143.204.130.121, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|143.204.130.167|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 47748012 (46M) [application/x-www-form-urlencoded]
Saving to: ‘yellow_tripdata_2023-02.parquet’

yellow_tripdata_202 100%[===================>]  45.54M  16.0MB/s    in 2.9s

2023-05-24 08:14:33 (16.0 MB/s) - ‘yellow_tripdata_2023-02.parquet’ saved [47748012/47748012]

In [4]:
import pandas as pd
import numpy as np

# Q1. Downloading the data
We'll use the same NYC taxi dataset, but instead of "Green Taxi Trip Records", we'll use "Yellow Taxi Trip Records".   
Download the data for January and February 2022. (parquet fiels stored in ./data/ directory)  
Read the data for January. How many columns are there?

In [5]:
# Question 1: Number of columns in Jan 2022 Yellow Taxi Trip data?

jan_data = pd.read_parquet('./data/yellow_tripdata_2023-01.parquet')
feb_data = pd.read_parquet('./data/yellow_tripdata_2023-01.parquet')

jan_data.columns.shape

(19,)

# Q2. Computing duration
Now let's compute the duration variable. It should contain the duration of a ride in minutes.

What's the standard deviation of the trips duration in January?

In [7]:
jan_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [8]:
# Trip duration can be obtained as diff between tpep_dropoff_datetime and tpep_pickup_datetime

jan_data['duration'] = (jan_data['tpep_dropoff_datetime'] - jan_data['tpep_pickup_datetime'])
jan_data['duration'] = jan_data['duration'].apply(lambda x: x.total_seconds() / 60)
jan_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [10]:
# Compute STD
jan_data.duration.describe()

count    3.066766e+06
mean     1.566900e+01
std      4.259435e+01
min     -2.920000e+01
25%      7.116667e+00
50%      1.151667e+01
75%      1.830000e+01
max      1.002918e+04
Name: duration, dtype: float64

# Q3. Dropping outliers

Next, we need to check the distribution of the duration variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

What fraction of the records left after you dropped the outliers?

In [11]:
jan_data_filtered = jan_data[(jan_data['duration'] >= 1) & (jan_data['duration'] <= 60)]

jan_data_filtered.shape[0] / jan_data.shape[0]

0.9812202822125979

# Q4. One-hot encoding
Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.

- Turn the dataframe into a list of dictionaries  
- Fit a dictionary vectorizer  
- Get a feature matrix from it
- What's the dimensionality of this matrix (number of columns)?

In [30]:
# Transform into list of dicts
train_data = jan_data_filtered[['PULocationID', 'DOLocationID']].astype(str).to_dict(orient='records')
train_gt = jan_data_filtered['duration'].values

type(train_data), type(train_data[0])

(list, dict)

In [31]:
# Train dict vectorizer

from sklearn.feature_extraction import DictVectorizer

vect = DictVectorizer()
features_matrix = vect.fit_transform(train_data)

In [32]:
# Get number of features

features_matrix

<3009173x515 sparse matrix of type '<class 'numpy.float64'>'
	with 6018346 stored elements in Compressed Sparse Row format>

# Q5. Training a model

Now let's use the feature matrix from the previous step to train a model.

Train a plain linear regression model with default parameters  
Calculate the RMSE of the model on the training data  
What's the RMSE on train?

In [33]:
from sklearn.linear_model import LinearRegression

logreg = LinearRegression()
logreg.fit(features_matrix, train_gt)

LinearRegression()

In [34]:
from sklearn.metrics import mean_squared_error as MSE

MSE(train_gt, logreg.predict(features_matrix))

58.511208070257105

# Q6. Evaluating the model  
Now let's apply this model to the validation dataset (February 2022).

What's the RMSE on validation?

In [35]:
feb_data['duration'] = (feb_data['tpep_dropoff_datetime'] - feb_data['tpep_pickup_datetime'])
feb_data['duration'] = feb_data['duration'].apply(lambda x: x.total_seconds() / 60)

X_val = feb_data[['PULocationID', 'DOLocationID']].astype(str).to_dict(orient='records')
y_val = feb_data['duration'].values

features_val = vect.transform(X_val)

MSE(y_val, logreg.predict(features_val))

1767.072327574363